{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<div class="breadcrumb-container">
  <div class="breadcrumb flat">
      <a href="{{path('home')}}">
          <img src="{{asset('img/icons/home.svg')}}" alt="Accueil">
      </a>
      <a href="#" class="active">Panier</a>
  </div>
</div>

<h1>Panier</h1>

{% if detailedCart|length == 0 %}
  <div class="alert alert-danger">
    Votre panier est vide
  </div>

  {% include "shared/footer/position.html.twig" %}

{% else %}
  <section class="cart-container">
    {% for cartItem in detailedCart %}
      <article class="cart-item">
        <img class="cart-item__picture" src="{{asset('img/products/' ~ firstImage(cartItem.product))}}" alt="{{cartItem.product.wording}}">
        <div class="cart-item__data">
          <h2 class="cart-item__wording">
            <a href="{{path('product_show', {'id': cartItem.product.id, 'slug': cartItem.product.slug})}}">
              {{cartItem.product.wording}}
            </a>
          </h2>
          <div class="cart-item__infos">
            <div class="cart-item__quantity">
              <a href="{{path('cart_decrement', {'id': cartItem.product.id})}}"><button class="cart-stepdown"></button></a>
              <p class="cart-item__input" id="cart-quantity">{{cartItem.quantity}}</p>
              <a href="{{path('cart_increment', {'id': cartItem.product.id})}}"><button class="cart-stepup plus"></button></a>
            </div>
            <p class="cart-item__price">{{cartItem.total|amount}}</p>
            <a href="{{path('cart_delete', {'id': cartItem.product.id})}}" class="cart-item__delete" onclick="return confirm('Voulez-vous vraiment supprimer cet article de votre panier ?')">
              <img class="cart-item__cross" src="{{asset('img/icons/cross-danger.svg')}}" alt="Supprimer du panier ?">
            </a>
          </div>
        </div>
      </article>
    {% endfor %}
  </section>
  <section class="cart-total">
    <div class="cart-total__data">
      <p class="cart-total__cart-total">Total panier : 
        <span class="align-right">{{total|amount}}</span>
      </p>
      <p class="cart-total__shipping">Livraison : 
        <span class="align-right">2,99 €</span>
      </p>
      <p class="cart-total__total">Total : 
        <span class="align-right">{{(total + 2.99 * 100)|amount}}</span>
      </p>
      <a href="#" class="btn secondary">Valider mon panier</a>
    </div>
  </section>
{% endif %}

{% endblock %}