{% block _product_product_images_widget %}
    <ul id="product-images-fields-list"
        data-prototype="{{ form_widget(prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}"
        data-widget-counter="{{ value|length }}"
    >
        {% for key,productImageForm in form.children %}
            {{ form_widget(productImageForm) }}
        {% endfor %}
    </ul>

    <button type="button"
            class="add-another-collection-widget btn btn-primary-reverse adjust-left"
            data-list-selector="#product-images-fields-list">Ajouter une photo</button>
{% endblock %}

{% block form_errors %}
  <ul class="error-container">
    {% for error in errors %}
      <li>
        <span class="form-error"><span class="error-badge">Erreur</span>{{ error.message }}</span>
      </li>
    {% endfor %}
  </ul>
{% endblock %}