{% extends template() %}

{% block title %}NingenShoppu | Accueil{% endblock %}

{% block body %}
<div class="breadcrumb-container">
    <div class="breadcrumb flat">
        <a href="{{path('home')}}" class="active">
            <img src="{{asset('img/icons/home.svg')}}" alt="Accueil">
        </a>
    </div>
</div>

<main>
    <h1>Derniers arrivages</h1>

    <section class="list-card-container">
        {% for product in products %}
            <a href="{{path('product_show', {'id': product.id, 'slug': product.slug})}}">
                <div class="list-card">
                    <img src="{{asset('img/products/' ~ firstImage(product))}}" alt="{{product.wording}}">
                    <p class="list-card__wording">{{product.wording}}</p>
                    <div class="list-card__infos">
                        <p class="list-card__price">{{product.price|amount}}</p>
                        <p class="list-card__rating">
                            <img class="list-card__star" src="{{asset('img/icons/star.svg')}}" alt="">
                            4,7/5 (47 votes)
                        </p>
                        {# <p>{{product.rating}}</p> ON DEVRA AFFICHER PLUTÔT LE RESULTAT D'UNE FONCTION QUI CALCULE LES NOTES #} 
                    </div>
                </div>
            </a>
        {% endfor %}
    </section>
</main>
{% endblock %}
