{% extends 'admin.html.twig' %}

{% block title %}NingenShoppu | Modifier {{category.title}}{% endblock %}

{% block body %}
  <div class="breadcrumb-container">
    <div class="breadcrumb flat">
        <a href="{{path('home')}}">
            <img src="{{asset('img/icons/home.svg')}}" alt="Accueil">
        </a>
        <a href="{{path('administration')}}">Administration</a>
        <a href="#" class="active">Modifier {{category.title}}</a>
    </div>
</div>

  <h1>Modifier la catégorie {{category.title}}</h1>
  
  {% form_theme form 'shared/forms/_form_theme.html.twig' %}
  {{form_start(form)}}
    {{form_row(form.title)}}
    {{form_row(form.description)}}

    <button class="btn secondary" type="submit">Envoyer</button>
  {{form_end(form)}}

<script src="{{asset('js/helpers/imageUploadWidget.js')}}"></script>
{% endblock %}
