{% extends template() %}

{% block title %}NingenShoppu | Tous les produits{% endblock %}

{% block body %}
<div class="breadcrumb-container">
    <div class="breadcrumb flat">
        <a href="{{path('home')}}">
            <img src="{{asset('img/icons/home.svg')}}" alt="Accueil">
        </a>
        <a href="#" class="active">Tous les produits</a>
    </div>
</div>

<main>
  <h1>Tous les produits</h1>

  <section class="list-card-container">
        {% for product in products %}
            <a href="{{path('product_show', {'id': product.id, 'slug': product.slug})}}">
                <div class="list-card">
                    <img src="{{getImage(firstImage(product), 300, 200)}}" alt="{{product.wording}}">
                    <p class="list-card__wording">{{product.wording}}</p>
                    <div class="list-card__infos">
                        <p class="list-card__price">{{product.price|amount}}</p>
                        <p class="list-card__rating">
                            <img class="list-card__star" src="{{asset('img/icons/star.svg')}}" alt="">
                            {{product.rating['rating']}}/5 ({{product.rating['votes']}} vote{% if product.rating['votes'] > 1 %}s{% endif %})
                        </p>
                    </div>
                </div>
            </a>
        {% endfor %}
        {{ knp_pagination_render(products) }}
    </section>
</main>
{% endblock %}