{% extends template() %}

{% block title %}NingenShoppu | {{product.wording}}{% endblock %}

{% block body %}
<div class="breadcrumb-container">
    <div class="breadcrumb flat">
        <a href="{{path('home')}}">
            <img src="{{asset('img/icons/home.svg')}}" alt="Accueil">
        </a>
        {% if product.category %}
        <a href="{{path('category_index', {'id':product.category.id, 'slug':product.category.slug})}}">{{product.category.title}}</a>
        {% else %}
        <a href="#">Aucune catégorie</a>
        {% endif %}
        
        <a href="#" class="active">{{product.wording}}</a>
    </div>
</div>

<main>
  <h1>{{ product.wording }}</h1>

  <section class="card-container">
    <div class="card">
      {% if product.productImages|length == 0 %}
        <img src="{{getImage('default-placeholder.png', 1300, 867)}}" alt="">
      {% endif %}
      {% for image in product.productImages %}
        {% if loop.index == 1 %}
          <img src="{{getImage(firstImage(product), 1300, 867)}}" alt="">
        {% else %}
          <img class="card__thumbnail" src="{{getImage(sideImage(product, (loop.index - 1)), 150, 100)}}" alt="">
        {% endif %}
      {% endfor %}
      <p class="card__wording">{{product.wording}}</p>
      <div class="card__infos">
        <p class="card__price">{{product.price|amount}}</p>
        <p class="card__rating">
            <img class="card__star" src="{{asset('img/icons/star.svg')}}" alt="">
            {{product.rating['rating']}}/5 ({{product.rating['votes']}} vote{% if product.rating['votes'] > 1 %}s{% endif %})
        </p>
      </div>
      <div class="card__cart-box">
        <label for="quantity">Quantité :</label>
        <div class="cart-item__quantity">
          <button class="cart-stepdown" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
          <input class="cart-item__input" type="number" id="quantity" min="1" max="{{product.quantityInStock}}" value="1">
          <button class="cart-stepup plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"></button>
        {% if product.quantityInStock <= 10 %}
        <span class="warning-stock">Il ne reste que {{product.quantityInStock}} exemplaires !</span>
        {% endif %}
        </div>
        <input id="product-id" type="hidden" value="{{product.id}}">
        <button id="add-cart" class="btn secondary">Ajouter au panier</button>
      </div>

      <div class="card inner-card">

        <section class="sections-container">
          <h2 class="active details-section" for="description">Description</h2>
          <h2 class="details-section" for="labels">Labels</h2>
          <h2 class="details-section" for="feedbacks">Avis clients</h2>
        </section>
        
        <section>
          <div class="inner-card__details-content" id="description">
            <p>{{product.description}}</p>
          </div>

          <div class="inner-card__details-content" id="labels">
            {% for label in product.labels %}
              <img src="{{getImage(label.imageName, 100, 100, true)}}" alt="{{label.name}}">
            {% endfor %}
          </div>

          <div class="inner-card__details-content" id="feedbacks">
            {% if product.feedback|length == 0 %}
              <p class="feedback-none">Il n'y a pas encore d'avis sur cet article</p>
            {% endif %}
            
            <div class="feedback-container">
            {% for feedback in product.feedback %}
              <article class="feedback-comment">
                <p class="feedback-header">{{feedback.user.firstName ~ ' ' ~ feedback.user.lastName}}</p>
                <p class="feedback-header">{{feedback.createdAt|date('d/m/Y')}}</p>
                <p class="feedback-content">{{feedback.comment}}</p>
              </article>
            {% endfor %}
            </div>

            <div class="comment">
              <h2 class="toHide">Donner mon avis</h2>

              {% if hasAlreadyFeedbacked %}
                <p>Vous avez déjà noté ce produit</p>
              {% else %}
                <form class="toHide" action="#">
                  {% if hasBought %}
                    <label for="feedback_comment" style="padding-bottom:.4rem;">Quel est votre avis sur ce produit ?</label>
                    <textarea name="feedback_comment" id="feedback_comment" cols="30" rows="10" placeholder="Votre avis"></textarea>
                  {% else %}
                    <p>Vous devez être connecté et avoir déjà acheté ce produit pour donner votre avis dessus</p>
                  {% endif %}
                </form>

                {% if hasBought %}
                  {% include "shared/forms/_star_rating.html.twig" %}
                
                  <a href="#" id="send-feedback" class="btn secondary toHide" style="display:block;width:fit-content;margin-top:1rem;">Envoyer</a>
                {% endif %}

              {% endif %}
            </div>
          </div>
        </section>

      </div>
    </div>
  </section>
</main>

<script src="{{asset('js/api/feedback.js')}}"></script>
<script>
$(function() {
  $('.card__thumbnail').wrapAll('<div class="card__thumbnail-container"></div>')

  $('.details-section').click((e) => {
    let forAttr = $(e.currentTarget).attr("for");
    let spoilerDivs = $('.inner-card__details-content');

    $('.details-section.active').removeClass('active');
    $(e.currentTarget).addClass('active');

    $('.inner-card__details-content:not([id=' + forAttr + '])').fadeOut(200).promise().done(() => {
      $('.inner-card__details-content[id=' + forAttr + ']').fadeIn(200);
    });
  })

});
</script>
{% endblock %}