{% extends template() %}

{% block title %}NingenShoppu | {{product.wording}}{% endblock %}

{% block body %}
<div class="breadcrumb-container">
    <div class="breadcrumb flat">
        <a href="{{path('home')}}">
            <img src="{{asset('img/icons/home.svg')}}" alt="Accueil">
        </a>
        <a href="{{path('category_index', {'id':product.category.id, 'slug':product.category.slug})}}">{{product.category.title}}</a>
        <a href="#" class="active">{{product.wording}}</a>
    </div>
</div>

<main>
  <h1>{{ product.wording }}</h1>

  <section class="card-container">
    <div class="card">
      {% if product.productImages|length == 0 %}
        <img src="{{getImage('default-placeholder.png', 1300, 867)}}" alt="">
      {% endif %}
      {% for image in product.productImages %}
        {% if loop.index == 1 %}
          <img src="{{getImage(firstImage(product), 1300, 867)}}" alt="">
        {% else %}
          <img class="card__thumbnail" src="{{getImage(sideImage(product, (loop.index - 1)), 150, 100)}}" alt="">
        {% endif %}
      {% endfor %}
      <p class="card__wording">{{product.wording}}</p>
      <div class="card__infos">
        <p class="card__price">{{product.price|amount}}</p>
        <p class="card__rating">
            <img class="card__star" src="{{asset('img/icons/star.svg')}}" alt="">
            4,7/5 (47 votes)
        </p>
      </div>
      <div class="card__cart-box">
        <label for="quantity">Quantité :</label>
        <div class="cart-item__quantity">
          <button class="cart-stepdown" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
          <input class="cart-item__input" type="number" id="quantity" min="1" value="1">
          <button class="cart-stepup plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"></button>
        </div>
        <input id="product-id" type="hidden" value="{{product.id}}">
        <button id="add-cart" class="btn secondary">Ajouter au panier</button>
      </div>

      <div class="card inner-card">

        <section class="sections-container">
          <h2 class="active details-section" for="description">Description</h2>
          <h2 class="details-section" for="labels">Labels</h2>
          <h2 class="details-section" for="feedbacks">Avis clients</h2>
        </section>
        
        <section>
          <div class="inner-card__details-content" id="description">
            <p>{{product.description}}</p>
          </div>

          <div class="inner-card__details-content" id="labels">
            <p>Ici les labels.</p>
          </div>

          <div class="inner-card__details-content" id="feedbacks">
            <p>Ici les avis.</p>
          </div>
        </section>

      </div>
    </div>
  </section>
</main>

<script>
$(function() {
  $('.card__thumbnail').wrapAll('<div class="card__thumbnail-container"></div>')

  $('.details-section').click((e) => {
    let forAttr = $(e.currentTarget).attr("for");
    let spoilerDivs = $('.inner-card__details-content');

    $('.details-section.active').removeClass('active');
    $(e.currentTarget).addClass('active');

    $('.inner-card__details-content:not([id=' + forAttr + '])').fadeOut(200).promise().done(() => {
      $('.inner-card__details-content[id=' + forAttr + ']').fadeIn(200);
    });
  })

});
</script>
{% endblock %}