{% extends 'base.html.twig' %}

{% block title %}NingenShoppu | Confirmation de la commande{% endblock %}

{% block body %}
<div class="breadcrumb-container">
    <div class="breadcrumb flat">
        <a href="{{path('home')}}">
            <img src="{{asset('img/icons/home.svg')}}" alt="Accueil">
        </a>
        <a href="{{path('user_home')}}">Mon compte</a>
        <a href="#" class="active">Confirmation de commande</a>
    </div>
</div>

<h1>Confirmation de votre commande</h1>

{{form_start(form)}}
    {{form_row(form.fullName)}}
    {{form_row(form.address)}}
    {{form_row(form.postalCode)}}
    {{form_row(form.city)}}
    <button type="submit" class="btn primary">Confirmer</button>
{{form_end(form)}}
{% endblock %}
