{% extends template() %}

{% block title %}NingenShoppu | Mes commandes{% endblock %}

{% block body %}
<div class="breadcrumb-container">
    <div class="breadcrumb flat">
        <a href="{{path('home')}}">
            <img src="{{asset('img/icons/home.svg')}}" alt="Accueil">
        </a>
        <a href="{{path('user_home')}}">Mon compte</a>
        <a href="#" class="active">Mes commandes</a>
    </div>
</div>

<h1>Mes commandes</h1>

  {% if purchases|length == 0 %}
    <div class="alert alert-danger">
      Vous n'avez passé aucune commande
    </div>
  {% else %}
  <section class="purchase-list">
    {% for purchase in purchases %}
    <article class="purchase">
      <div class="purchase__data">
        <h2>Commande n°{{purchase.id}}</h2>
        <p class="purchase__info">Passée le : {{purchase.purchasedAt|date('d/m/Y')}}</p>
        <p class="purchase__info">{{purchase.totalQuantity}} articles</p>
        <div class="purchase__bottom-info">
          <p class="purchase__price">{{purchase.total|amount}}</p>
          <a href="{{path('purchase_show', {'id':purchase.id})}}">
            Détail
            <img src="{{asset('img/icons/right-arrow.svg')}}" alt="">
          </a>
        </div>
      </div>
      <div class="purchase__status" style="background-color:{{color(purchase.status)}}">
        <p>{{format(purchase.status)}}</p>
      </div>
    </article>
    {% endfor %}
  </section>
  {% endif %}
{% endblock %}