<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}NingenShoppu | Accueil{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('css/app.css')}}">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {% include "shared/tools/javascripts.html.twig" %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <header>
        {% include "shared/_navbar.html.twig" %}
        {% include "shared/_searchbar.html.twig" %}
    </header>
    <body>
        {% for rubrique, messages in app.flashes %}
            <div class="alert alert-{{rubrique}}">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endfor %}
        {% block body %}{% endblock %}
    </body>
    <footer>
        {% include "shared/footer/_advantages.html.twig" %}
        {% include "shared/footer/_joinus.html.twig" %}
        {% include "shared/footer/_findus.html.twig" %}
    </footer>
</html>
