<nav class="navbar">
    <h1 class="head-title">
        <a href="{{path('home')}}">NingenShoppu</a>
    </h1>
    <div class="menu-icon">
        <img id="hamburger" src="{{asset('img/icons/menu.svg')}}" alt="Menu">
        <ul class="dropdown-menu">
            <li class="dropdown-item">
                <a href="{{path('products_all')}}">
                    Tous les produits
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#">
                    Catégories
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#">
                    Actualités
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#">
                    Qui sommes-nous ?
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#">
                    FAQ
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#">
                    Contact
                </a>
            </li>
        </ul>
    </div>
    <div class="user-icons">
        <a href="{{path('user_home')}}">
            <img src="{{asset('img/icons/user.svg')}}" alt="Mon compte">
        </a>
        <a href="{{path('cart_show')}}">
            <img src="{{asset('img/icons/cart.svg')}}" alt="Panier">
            <span class="cart-count">{{ render(controller("App\\Controller\\CartController::count"))}}</span>
        </a>
    </div>
</nav>