<nav class="navbar">
    <h1 class="head-title">
        <a href="{{path('home')}}">NingenShoppu</a>
    </h1>
    <div class="menu-icon">
        <img src="{{asset('img/icons/menu.svg')}}" alt="Menu">
    </div>
    <div class="user-icons">
        <a href="#">
            <img src="{{asset('img/icons/user.svg')}}" alt="Mon compte">
        </a>
        <a href="#">
            <img src="{{asset('img/icons/cart.svg')}}" alt="Panier">
            <span class="cart-count">{{ render(controller("App\\Controller\\CartController::count"))}}</span>
        </a>
    </div>
</nav>