{% extends template() %}

{% block title %}NingenShoppu | Mon compte{% endblock %}

{% block body %}
<div class="breadcrumb-container">
    <div class="breadcrumb flat">
        <a href="{{path('home')}}">
            <img src="{{asset('img/icons/home.svg')}}" alt="Accueil">
        </a>
        <a href="#" class="active">Mon compte</a>
    </div>
</div>

<h1>Bonjour, {{user.firstName}}</h1>
<a class="btn btn-danger-reverse" href="{{path('app_logout')}}">Déconnexion</a>

<section class="actions-list-container">
    <ul class="actions-list">
        <li class="action">
            <a href="{{path('user_email_modify')}}">
                Mon adresse email
            </a>
        </li>
        <li class="action">
            <a href="{{path('user_password_modify')}}">
                Mon mot de passe
            </a>
        </li>
        <li class="action">
            <a href="{{path('purchase_index')}}">
                Mes commandes
            </a>
        </li>
    </ul>
</section>

{% include "shared/footer/position.html.twig" %}
{% endblock %}
